* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
Justfile text eol=lf
global.json text eol=lf

*.cmd text eol=crlf
*.md text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.slnx text eol=lf
*.ps1 text eol=lf
*.psm1 text eol=lf
*.psd1 text eol=lf
